* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
}

/* Utility */

.line-through{
    text-decoration: line-through;
}

.cText-white{
    color: #fff;
}

.cText-black{
    color: #1A1A1A;
}

.cText-red{
    color: #e50914;
}

.bg-white{
    background-color: #fff;
}

.bg-black{
    background-color: #1A1A1A;
}

.bg-orange{
    background-color: #FF6900;
}

.bg-red{
    background-color: #e50914;
}

.bg-green{
    background-color: #1ed00e;
}

.d-flex{
    display: flex;
}

.a-center{
    align-items: center;
}

.jc-start{
    justify-content: flex-start;
}

.jc-center{
    justify-content: center;
}

.jc-end{
    justify-content: flex-end;
}

.jc-between{
    justify-content: space-between;
}

.flexd-column{
    flex-direction: column;
}

.margin-80{
    width: 80%;
    margin: 0 auto;
}

/* Header */

.header{
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 70px;
}

/* Nav */

.listItem{
    margin-right: 10px;
}

.listItem:last-child{
    margin-right: 0;
}

.listItem a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: color 300ms ease;
}

.listItem a:hover{
    color: #d8d8d8;
}

/* Logo Site */

.logoSite{
    width: 134px;
}

/* Box Icons */

.box_icon{
    margin-right: 10px;
    cursor: pointer;
}

.box_icon:last-child{
    margin-right: 0;
}

.fa-solid,
.fa-regular{
    font-size: 16px;
    color: #fff;
    transition: transform 300ms ease;
}

.fa-solid:hover,
.fa-regular:hover{
    transform: scale(1.1);
}

/* Main */

main{
    position: relative;
    top: 70px;
    margin-top: 60px;
}

/* Container Cards */
.container_cards{
    display: flex;
    flex-wrap: wrap;
}

.card_product{
    margin-bottom: 60px;
    cursor: pointer;
}

.inner_card{
    position: relative;
    width: 390px;
    height: 550px;
}

.static_image{
    position: relative;
    z-index: 1;
    transition: opacity 300ms ease;
}

.hover_image{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease;
}

.inner_card:hover .static_image{
    opacity: 0;
}

.inner_card:hover .hover_image{
    opacity: 1;
}

.img_product{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.box_love{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    margin: 20px 0;
    text-align: center;
}

.box_love .fa-heart{
    color: #1A1A1A;
}

.container_adv{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px 0;
}

.info_ca{
    padding: 3px 10px;
    margin-right: 10px;
}

.info_ca:last-child{
    margin-right: 0;
}

.info_product{
    margin-top: 10px;
}

.brand{
    color: grey;
    font-weight: 400;
}

.actual_price{
    font-weight: 600;
}

.discount_price{
    color: grey;
    font-weight: 400;
}

/* Footer */

.footer{
    position: relative;
    z-index: 999;
    bottom: -70px;
    width: 100%;
    padding: 20px 0;
}

.footer .flex_start{
    text-align: left;
}

.footer .flex_end{
    text-align: right;
}

.heading_footer{
    margin-bottom: 10px;
}

.container_link_footer a{
    margin-right: 20px;
}

.container_link_footer a:last-child{
    margin-right: 0;
}

.container_link_footer span{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.fa-brands{
    color: #fff;
    margin-left: 10px;
}